// Main title intro/contact us button

.title-container {
    .flex(column, center, center);

    background-image: url("../assets/home.png");
    background-size: cover;
    padding: 0 15%;
    
    h1 {
        font-size: 6.5rem;
        text-align: center;
        color: @titlefontcolor;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        padding: 1%;
        .button( 16%, 40px, 5px, @buttoncolor, @backgroundcolor);
        box-shadow: 0 0 5px 2px dimgray;
    }

}

.artists-container {

    .bordertop;

    .flex( row, space-around, center);
    
    padding: 5%;
    margin: 0;
}