// Main title intro/contact us button

.title-container {
    .flex(column, center, center);

    background-image: url("../assets/home.png");
    background-size: cover;
    margin: 0 15%;
    height: 70vh;
    
    h1 {
        font-size: 6.5rem;
        text-align: center;
        color: @titlefontcolor;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        padding: 1%;
        .button( 16%, 40px, 5px, @buttoncolor, @backgroundcolor);
        box-shadow: 0 0 5px 2px dimgray;
    }

    @media(max-width: 515px){
        height: auto;
        h1{
            font-size: 5rem;
        }
        h2{
            width: 50%;
            .button( 50%, 33px, 2px, @buttoncolor, @backgroundcolor);
        }
    }
}

.artists-container {

   .bordertop;
   margin: 5%;
   .flex( row, space-around, flex-start);
   padding: 5%;
   
   .artist {
    .flex( column, space-around, center);
    width: 46%;
    padding: 2%;

     img {
        width: 100%;
        background-size: cover;

     }
     a {
        padding: 3%;
        font-size: 2rem;
     }
     .bio {
         font-size: 1.2rem;
     }

   }

   @media(max-width: 515px){
       flex-direction: column;
       align-items: center;;
       width: 100%;
       margin: 0;
       .artist{
           width: 100%;
           a {
           font-size: 3rem;
           text-align: center;
            }
            .bio {
                font-size: 2rem;
            }
       }
       
   }
}