
nav {
    .flex(row, center, center);
    font-size: 2rem;
    padding: 4% 0;

    #home {
        .borderright();
        text-decoration: bold;
    }

    div {
        padding: 0 10px;
    }

    #cont {
        .borderleft();
        color: @navseccolor;
    }

    #about {
        color: @navseccolor
    }
    @media(max-width: 515px){
        flex-direction: column;
        align-items: center;
        #home {
            .borderleft;
            padding: 1%;
        }
        #cont {
            border: none;
            padding: 1%;
        }
        #about{
            padding: 1%;

        }
        
    }

}